.AboutMe h2 {
    padding-top: 1em;
    text-align: center;
}
.AboutMe p {
    font-weight: 400;
    padding-left: 5vh;
    padding-right: 5vh;
}
.AboutMe * {
    box-sizing: border-box;
}
.AboutMe table {
    color: black;
}
.AboutMe table tr {
    background-color: #fff;
    border-top: 1px solid #c6cbd1;
}
.AboutMe table tr:nth-child(2n) {
        background-color: #f6f8fa;
}

.AboutMe table th {
    padding: 6px 13px;
    border: 1px solid #dfe2e5;
}

.AboutMe table td {
    padding: 6px 13px;
    border: 1px solid #dfe2e5;
}
.AboutMe .ContentBox {
    display: flex;
    justify-content: center;
}
.AboutMe .ContentBox > div:nth-of-type(2) {
    margin: 0.2em;
}
.AboutMe table {
    border-spacing: 0;
    border-collapse: collapse;
    overflow-x: scroll;
    max-width: 8vw;
}
.AboutMe tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}
.AboutMe > div:nth-of-type(even) .ContentBox {
    flex-direction: row-reverse;
}
.AboutMe .ContentBox > div:nth-of-type(1){
    display: flex;
    justify-content: center;
    align-items: center;
}
.AboutMe .ContentBox > div:nth-of-type(1){
    margin: 2em;
}

@media only screen and (max-width: 700px) {
    .AboutMe > div:nth-of-type(even) .ContentBox,
    .AboutMe .ContentBox{
        flex-direction: column;
    }
    .AboutMe .ContentBox > div:nth-of-type(1) img{
        padding: 3vh;
    }
    .AboutMe .ContentBox {
        align-items: center;
    }
}

@media only screen and (max-width: 410px) {
    .AboutMe  tr > th:nth-child(n+4),
    .AboutMe  tr > td:nth-child(n+4){
        display: none;
    }
}

@media only screen and (max-width: 350px) {
    .AboutMe  tr > th:nth-child(1),
    .AboutMe  tr > td:nth-child(1){
        display: none;
    }
}