html, body, #root, .App{
  height: 100%;
}
.LandingPage {
  min-height: 100%;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #F1FAEE;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
footer {
  padding: 1em;
  text-align: center;
  background-color: #1D3557 ;
  color: #F1FAEE;
  margin-top: 2em;
}
footer a:link, a:visited {
  text-decoration: none;
  color: #F1FAEE;
}